body, div {
    display:flex;
    flex-direction: column;
    align-items:center;
}

body, html {
    padding:0;
    margin:0;
}
/*          CORES         */


/*         HEADER        */
.header {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-bottom:10px solid black;
    padding:10px;
}

.menu {
    display:flex;
    flex-direction: row;
    gap:10px;
    list-style: none; 
}

.menu  li a {
    color:black;
    text-decoration: none;
    font-size: 18px;
}
/*         TABELA       */
td, th {
    width:300px;
}

td a {
    text-decoration: none;
}

td, th {
    border:1px solid black;
    padding:6px;
    border-radius:10px;
}
