body, div {
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: #1c1c1c;
    color: white;
}

body, html {
    padding:0;
    margin:0;
}
/*          CORES         */


/*         HEADER        */
.header {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1c1c1c;
    padding:10px;
}

.menu {
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap:10px;
    list-style: none; 
    background-color: #bcff07ff ;
    width:100%;
    padding: 5px;
}

.menu  li a {
    color:black;
    text-decoration: none;
    font-size: 18px;
}

.title {
    display: flex;
    flex-direction: row;
    gap:30px;
}
/*         TABELA       */
td, th {
    width:300px;
}

td a {
    text-decoration: none;
    color:whitesmoke;
}

td, th {
    padding:6px;
    border-radius:10px;
    border: 5px solid #bcff07ff;
}

td {
    font-weight:600;
    font-family:sans-serif;
}
